body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  display: inline-block;
  color: #333;
  width: 100vw;
}

ul a {
  color: #333;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 2px;
  border-radius: 1px;
}

ul a:hover {
  background-color: lightcoral;
  color: #fff;
  transition: all 0.2s ease-in-out;
}


i {
  font-size: 2rem;
  padding: 10px 12px;
  border-radius: 2px;
  background-color: lightcoral;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

i:hover {
  transform: rotate(-5deg);
  cursor: pointer;
}

.cur {
  background-color: lightcoral;
  color: #fff;
}

ul {
  width: 200px;
  list-style: none;
  display: flex;
  flex: row;
  justify-content: space-between;
}

header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 5px 20px;
  background-color: #ccc;
}

.container {
  margin: auto;
  width: 80%;
  height: 83vh;
}

.autor {
  font-size: 0.7rem;
}

main article img {
  width: 40%;
}

.article {
  display: flex;
  padding: 10px;
  background-color: #efefef;
  height: 500px;
  box-shadow: 3px 3px 8px rgba(150, 150, 150, 0.6);
}

.card {
  margin-left: 20px;
}

.card p::first-letter {
  font-size: 2rem;
  margin-right: 1.5px;
}

label {
  margin: 20px 5px 0 20px;
}

input {
  margin: 20px 5px;
}

input::placeholder {
  color: lightcoral;
}

footer {
  background-color: #ccc;
  padding: 10px;
  text-align: center;
  font-size: 0.7rem;
}