div {
  margin: 5;
}

h1 {
  color: blue;
}

#third span {
  visibility: hidden;
}

#third p {
  background-color: #ccc;
}

/* .right p {
  display: inline;
} */

img {
  width: 300px;
  height: 300px;
}

p {
  color: red;
}

form {
  margin: 20px 0;
}